<!DOCTYPE html>
<html>
  <head>
    <title>Geolocalización</title>
  </head>
  <body>
    <h1>Geolocalización</h1>
    <p id="location"></p>
    <form
      method="post"
      action="{% url 'guardar_ubicacion' %}"
      id="location-form"
    >
      <!-- Agregamos un formulario con el método "post" -->
      {% csrf_token %}
      <input type="hidden" name="lat" id="lat" value="" />
      <input type="hidden" name="lon" id="lon" value="" />
    </form>  
  </body>
  <script>
    // Función para enviar el formulario automáticamente
    function enviarFormulario() {
      document.getElementById("location-form").submit();
    }
  
    // Llamar a la función enviarFormulario cada minuto (60000 milisegundos)
    setInterval(enviarFormulario, 10000);
  </script>  
</html>
