<!DOCTYPE html>
<html>

<head>
  <title>Geolocalización</title>
</head>

<body>
  <h1>Geolocalización</h1>
  <p id="location"></p>
  <form method="post" action="{% url 'guardar_ubicacion' %}" id="location-form">
    <!-- Agregamos un formulario con el método "post" -->
    {% csrf_token %}
    <input type="hidden" name="lat" id="lat" value="" />
    <input type="hidden" name="lon" id="lon" value="" />
  </form>
  <script>
    // Función para obtener una cookie por su nombre
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // ¿Esta cookie comienza con el nombre que buscamos?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(
              cookie.substring(name.length + 1)
            );
            break;
          }
        }
      }
      return cookieValue;
    }

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        document.getElementById("location").innerHTML =
          "La geolocalización no es compatible con este navegador.";
      }
    }

    function showPosition(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      document.getElementById("location").innerHTML =
        "Latitud: " + lat + "<br>Longitud: " + lon;

      function saveLocation() {
        fetch("{% url 'guardar_ubicacion' %}", {
          method: "POST",
          body: new FormData(document.getElementById("location-form")),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message) {
              // Operación exitosa, habilitar el botón de envío
              document.getElementById("submit-button").disabled = false;
              console.log(data.message);
            } else if (data.error) {
              console.error(data.error);
              // Si ocurre un error de bloqueo de la base de datos, intentar nuevamente después de 1 segundo
              if (data.error.includes("database is locked")) {
                setTimeout(saveLocation, 1000);
              }
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Llamar a la función para guardar la ubicación
      saveLocation();
    }

    // Llamar a getLocation para iniciar el proceso
    getLocation();
  </script>
</body>
</html>
